KUBE_VERSION=1.35.0
HELM_VERSION=4.0.5
HELMFILE_VERSION=1.2.3

export CUR_VENV_DIR=`pwd`
export PATH="$HOME/.tfenv/bin:$PATH"
export PATH="$HOME/.tgenv/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
export PATH="${CUR_VENV_DIR}/.venv:${CUR_VENV_DIR}/.venv/gcloud/bin:${CUR_VENV_DIR}/tools:$PATH"
export KUBECONFIG="${CUR_VENV_DIR}/kubeconfig.yaml"
export HELM_DATA_HOME=${CUR_VENV_DIR}/.helm/data
export HELM_CONFIG_HOME=${CUR_VENV_DIR}/.helm/conf
export HELM_CACHE_HOME=${CUR_VENV_DIR}/.helm/cache

if [[ ("$(uname -m)" != "x86_64") || ("$(uname -s)" != "Linux") ]]; then
  echo "This init script work only on linux amd64 platform"
  return 1
fi

if [[ -z "$BASH" || ("$(basename $BASH)" != "bash") ]]; then
  echo "This init script work only on bash"
  return 1
fi

if ! command -v pip &> /dev/null || ! command -v git &> /dev/null
then
    echo "pip and git are required to install dev dependencies, please setup your environment on your own."
    exit 1
fi

if ! command -v pre-commit &> /dev/null
then
  if ! command -v pipx &> /dev/null
  then
      echo "Installing pre-commit"
      pip install pre-commit
      pre-commit install
  else
      echo "Installing pre-commit"
      pipx install pre-commit
      pre-commit install
  fi
fi

if ! command -v tfenv &> /dev/null
then
    echo "Installing tfenv and terraform"
    git clone --depth=1 https://github.com/tfutils/tfenv.git ~/.tfenv
    tfenv install
fi

if ! command -v tgenv &> /dev/null
then
    echo "Installing tgenv and terragrunt"
    git clone https://github.com/cunymatthieu/tgenv.git ~/.tgenv
    tgenv install
fi


if [[ ! -d "${CUR_VENV_DIR}/.venv" ]]
then
  mkdir -p ".venv"
  mkdir -p .helm/data .helm/conf .helm/cache
  echo "Installing Kubectl v${KUBE_VERSION}"
  curl -sL https://storage.googleapis.com/kubernetes-release/release/v${KUBE_VERSION}/bin/linux/amd64/kubectl > .venv/kubectl
  echo "Installing Helm v${HELM_VERSION}"
  curl -sL https://get.helm.sh/helm-v${HELM_VERSION}-linux-amd64.tar.gz > /tmp/helm-linux-amd64.tar.gz
  tar xzf /tmp/helm-linux-amd64.tar.gz -C /tmp
  mv /tmp/linux-amd64/helm .venv/helm
  echo "Installing Helmfile v${HELMFILE_VERSION}"
  curl -sL https://github.com/helmfile/helmfile/releases/download/v${HELMFILE_VERSION}/helmfile_${HELMFILE_VERSION}_linux_amd64.tar.gz > /tmp/helmfile.tar.gz
  tar xzf /tmp/helmfile.tar.gz -C /tmp
  mv /tmp/helmfile .venv/helmfile
  echo "Installing Helm diff plugin"
  helm plugin install https://github.com/databus23/helm-diff > /dev/null 2>&1
  echo "Installing Helm secrets plugin"
  helm plugin install https://github.com/jkroepke/helm-secrets > /dev/null 2>&1

  chmod u+x .venv/kubectl .venv/helm .venv/helmfile
fi
